/*! 
 Build based on gin-vue-admin 
 Time : 1654909673000 */
.bottom-info{color:#888;height:20px;line-height:20px}.bottom-info a{color:#888}.bottom-info div{display:flex;justify-content:center}.bottom-info div span{margin:0 3px;font-size:15px}.bottom-info img{display:inline-block;width:15px;height:15px}
