/*! 
 Build based on gin-vue-admin 
 Time : 1665452235000 */
.previewCodeTool[data-v-1b3129ab]{display:flex;align-items:center;padding:5px 0}.button-box[data-v-1b3129ab]{padding:10px 20px}.button-box .el-button[data-v-1b3129ab]{margin-right:20px;float:right}.auto-btn-list[data-v-1b3129ab]{margin-top:16px}.auto-icon[data-v-1b3129ab]{margin-left:6px;color:#666;cursor:pointer}
